.log
{
    background-color: #f0f0f0;
    /* padding: 10px; */
    border-radius: 5px;
   box-shadow: 1px 6px 15px rgba(113, 133, 133, 0.1);
    margin: 0 auto;
    width: 300px;
    

}

label
{
    display: block;
    text-align: left;
    padding: 5px 15px;
    margin-bottom: 1px;
    font-weight: bold;
}

input,select
{
    /* display: block;
    text-align: left; */
    width: 95% ;
    padding: 8px;


    border: 1px solid #ccc;
    border-radius: 6px;
}

button
{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}