.user-token {
   
max-height: max-content !important;
    overflow: auto;
    padding: 10px;
    /* background-color: rgb(218, 219, 216); */
    border-radius: 20px;
   

}
#Card-img
{
    width: 95%;
   margin: 7px;
   padding: 3px;
    border-radius: 20px !important;
    border: 1px solid #a3a2a2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 180px;
}

.card-subtitle {
  
        display: flex;
    justify-content: end;
}

.list-group-flush
{
    text-align: left;
}

#token-desc
{
    text-wrap: wrap;
    overflow:auto;
  
    display: -webkit-box;
    height: 100px;
}
